.sidebar {
  padding-top: 1.5rem;
  width: 200px;
  height: 150vh;
  position: fixed;
  background-color: #141414;
}

.header {
  background: #292929;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  height: 64px;
}

.content {
  background: #292929;
  height: calc(100vh - 54px);
  overflow-y: auto;
  padding: 0.8rem;
}

.title {
  margin: 0;
  font-size: clamp(2rem, 1vw, 1rem);
  font-weight: bold;
  background: linear-gradient(150deg, #4e4d4d, #e2e066);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  cursor: default;
}

.hamburger-btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
}

.hamburger-btn .bar {
  height: 3px;
  background: linear-gradient(150deg, #4e4d4d, #e2e066);
  margin: 3px 0;
}

.drawer-sidebar {
  background-color: #141414;
  background: #141414;
}